body {
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}

.container {
  border: 1px black solid;
  border-radius: 20px;
  width: 80vh;
  height: 50vh;
  padding: 10vh 5vh;
  background-color: #1b263b;
  color: white;
  }

h2 {
  font-family: karla, sans-serif;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 0px;

}

.green-text {
  color: #4ADF86;
  margin-top: 0px;
}
h3 {
  color: #B4B6BB;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

.generate-btn {
  background-color: #10B981;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 17px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin-top: 20px;
}
.generate-btn:hover {
  background-color: #0E9F6E;
}
.divider {
  height: 1px;
  width: 95%;
  background-color: #374151;
  margin: 40px 0px;
}

.password-display {
  display: inline-block;
  background-color: #273549;
  border-radius: 5px;
  margin: 0px 5px;
  width: 34vh;
  height: 3vh;
  color: #55F991;
  padding: 15px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight:200;
  text-align: center;
}

footer {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #888;
  font-size: 14px;
  text-align: center;
  margin-top: 80px;
}
footer a {
  color: #421654;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}