body {
background-color: #1F2937;
margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: left
}

h2 {
  font-family: karla, sans-serif;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 0px;

}

.green-text {
  color: #4ADF86;
  margin-top: 0px;
}
h3 {
  color: #B4B6BB;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

.generate-btn {
  background-color: #10B981;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 17px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin-top: 20px;
}
.generate-btn:hover {
  background-color: #0E9F6E;
}
.divider {
  height: 1px;
  width: 50%;
  background-color: #374151;
  margin: 30px 0px;
}

.password-display {
  display: inline-block;
  margin: 8px;
  background-color: #273549;
  border-radius: 5px;
  color: #55F991;
  padding: 15px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight:200;
}